a {
    color: white;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 900px;
    border: light-dark(rgb(150, 150, 150), rgb(51, 51, 51)) 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px light-dark(rgb(32, 32, 32), #5c5c5c);
    background-color: light-dark(rgb(100 100 100),rgb(49 49 49));
    gap: 50px;
}

.project-header {
    display: flex;
    padding-left: 40px;
    justify-content: flex-start;

    color: light-dark(white, #efefec);
}

.project-card-image {
    width: 300px;
    height: auto;

}

.project-summary {
    padding-left: 40px;
    width: 400px;
    margin: 0;
    text-align: left;

    color: light-dark(white, #efefec);
}

.project-card-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card-right {
    display: flex;
    flex-direction: column;
}

.project-tech {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.project-tech-item {
    list-style-type: none;
    outline: #fffefe 1px;
    padding: 0.4rem;

    background-color: #b9b9b9;
    color: rgb(7, 7, 7);
    font-weight: bold;

    border: 2px solid #777;
    box-shadow: 0 0 8px rgba(192, 192, 192, 0.8);
    border-radius: 8px;
    max-width: 80px;
}

.project-links {
    color: white;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repository-link {
    background-color: #6d6d6d;
    border: none;
    color: light-dark(white, black);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.repository-link:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.site-link {
    background-color: #006400;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.site-link:hover {
    background-color: #008000;
    transform: scale(1.05);
}




@media screen and (max-width: 800px) {
    .project-card {
        flex-direction: column;
        width: 80%;
        padding: 20px;
        margin: 15px;
        gap: 20px; 
    }

    .project-card-left, .project-card-right {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .project-card-image {
        width: 100%;
        max-width: 300px;
    }

    .project-summary {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .project-tech {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .project-links {
        padding: 0px;
        gap: 20px;
    }

    .repository-link, .site-link {
        width: 80%;
        text-align: center;
    }

    .project-tech {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 0px;
    }
}