

.skill-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 800px;
}

.skill-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    background-color: rgb(77, 77, 77);
    border: 1px solid white;
    border-radius: 5px;
    min-width: 60px;
    height: 50px;
}

.skill-name {
    margin: 0;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
}

.skill-image {
    width: 32px;
    height: auto;
    padding-right: 5px;
}

@media screen and (max-width: 800px) {
    .skill-card-container {
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 10px;
    }

    .skill-card {
        min-width: 10%;
        height: auto;
        padding: 5px;
    }

    .skill-name {
        font-size: 1rem;
    }

    .skill-image {
        width: 24px;
        padding-right: 5px;
    }
}