#root {
  /* Google font */
  font-family: "Roboto", sans-serif;
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
}




.lowerheader {
  margin-bottom: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.top-section-header {
  margin: auto;
}

.contact-logo {
  width: 32px;
  height: auto;
  
}


.invert-color {
  filter: invert(1);
}

.top-section-logos {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  flex-direction: column;
  gap: 15px;

  margin: 20px;
}


.canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvasdiv {
  margin-bottom: 100px;

  position: relative;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
}

.overlay-left {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 15px;
}

.overlay-right {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-right: 10x;
  color: white;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  pointer-events: all;
}

.skilldiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.projectdiv {
  display: flex;
  flex-direction: column;
  gap: 50px;

  margin-bottom: 100px;
}

.main-content{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 50px;
}
.aboutme {
  width: 900px;
  margin-bottom: 100px;
}

.aboutme-summary {
  font-size: 1.3rem;
  text-align: left;
}

.pihole-container {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 80px;
}

.pihole-div {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.pihole-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

.pihole-image {
  width: auto;
  height: 40px;
}

.pihole-lefttext {
  display: flex;
  width: 400px;
  font-weight: bolder;
  align-items: flex-start;
  text-align: left;
}

.pihole-summary {
  font-size: 1rem;
  text-align: left;
  width: 400px;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.raspicanvas {
  width: '450px';
  height: '300px';
  background: 'grey';
}

@media screen and (max-width: 800px) {

  html, body {
    overflow-x: hidden;
  }
  .aboutme {
    width: 100%;
    padding: 10px;
  }

  .aboutme-summary {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }


  .pihole-container {
    box-sizing: border-box;
    width: 100%;
    margin: 5px;
  }

  .pihole-summary {
    box-sizing: border-box;
    width: 100% ;
    padding: 10px;
  }

  .pihole-lefttext{
    padding-left: 15px;
  }

  .pihole-div {
    width: 100%;
  }

  .raspicanvas {
    width: 100%;
    height: auto;
  }

}


@media screen and (max-width: 1200px) {

  html, body {
    overflow-x: hidden;
  }
  .aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .aboutme-summary {
    width: 80%;
    font-size: 1rem;
    padding: 10px;
  }


  .pihole-container {
    box-sizing: border-box;
    width: 100%;
    margin: 5px;
  }

  .pihole-summary {
    box-sizing: border-box;
    width: 100% ;
    padding: 10px;
  }

  .pihole-lefttext{
    width: 100%;
    padding-left: 15px;
  }

  .pihole-div {
    width: 100%;
  }

  .raspicanvas {
    width: 100%;
    height: auto;
  }

}

